
body {
  font-family: 'Segoe UI', sans-serif;
  background: #edc6f7;
  padding: 40px;
  margin: 0;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #d6457b;
}

.semestre {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 0 10px 40px;
  background: #e693fb;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.semestre h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  color: #c2185b;
}

.ramo {
  background-color: #e5aaf4;
  border-radius: 10px;
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  border: 1px solid #f48fb1;
}

.ramo:hover {
  transform: scale(1.03);
}

.ramo.aprobado {
  background-color: #d9a7f0;
  text-decoration: line-through;
  color: #d9a7f0;
  border: 1px solid #aed581;
}

.ramo.bloqueado {
  background-color: #dbdbdb;
  color: #757575;
  pointer-events: none;
  border: 1px solid #bdbdbd;
}
