
body {
  font-family: 'Segoe UI', sans-serif;
  background: #cd6155;
  padding: 40px;
  margin: 0;
  color: #e6b0aa;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #e6b0aa;
}

.semestre {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 0 10px 40px;
  background: #d98880 ;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.semestre h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  color:#a93226 ;
}

.ramo {
  background-color: #cd6155 ;
  border-radius: 10px;
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  border: 1px solid #c0392b ;
}

.ramo:hover {
  transform: scale(1.03);
}

.ramo.aprobado {
  background-color: #e6b0aa;
  text-decoration: line-through;
  color:#e6b0aa ;
  border: 1px solid #c0392b;
}

.ramo.bloqueado {
  background-color: #dbdbdb;
  color: #757575;
  pointer-events: none;
  border: 1px solid #bdbdbd;
}
